<h1 style="margin-top:0px;">Register Now!</h1>

<p style="<% if @page.title == 'Home' %>color:#fff;<% end %>">
  <%= link_to 'Register here for La Crosse Omnium events.',  'https://www.usacycling.org/register/2015-1037' %><br /><br />
  <%= link_to 'Register', 'https://www.usacycling.org/register/2015-1037', class: 'btn btn-lg btn-success' %>
</p>