<h3>Register now for the La Crosse Omnium:</h3>
<a href="https://www.usacycling.org/register/2014-1191"><button class="btn btn-success btn-lg">Register Now</button></a>



<h5><a href="https://www.usacycling.org/events/getflyer.php?permit=2014-1191">Download the race flyer (PDF)</a></h5>

<a href="https://uwlacrosse.qualtrics.com/SE/?SID=SV_5tdoMIpZ4SgSk7z">We need volunteers!</a>
