<h1 style="margin-top:0px;">Register Now!</h1>

<p style="<% if @page.title == 'Home' %>color:#fff;<% end %>">
  <%= link_to 'Register here for La Crosse Omnium events.',  'https://www.usacycling.org/register/2017-988' %><br /><br />
  <%= link_to 'Register', 'https://www.usacycling.org/register/2017-988', class: 'btn btn-lg btn-success' %>
</p>


<% if @page.title == 'Home' %>
 
<% else %>

<h2>We need your help!</h2>
  <p>You don't have to race to be part of the La Crosse Omnium. Go to <% link_to 'SignUp.com', 'http://signup.com/go/mMzs82' %> if you would like to help.</p>
    <a href="http://signup.com/go/mMzs82" class="btn btn-lg btn-primary">Volunteer on SignUp.com</a>
 
<% end %>


<!-- <h2 style="color:#adadad;">Thank you!</h2>
<p style="color:#adadad;padding:0px 20px;">Thank you to all riders, volunteers, officials and fans for a great 2015 La Crosse Omnium. Check back here and our <a href="https://www.facebook.com/lacrosseomnium">Facebook page</a> for updates for the La Crosse Omnium 2016!</p> -->