<div id="sponsors">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <h1>Thank you to our sponsors...</h1>
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1">
          <p>The La Crosse Omnium is part of the Festival Foods La Crosse Fitness Festival, a two-day outdoor aerobic celebration held each year on the first weekend in May. In addition to the La Crosse Omnium activities include a marathon, half marathon, 5K race and more. There is also a 32 and 62 mile bike tour on Saturday. For more information visit the La Crosse Fitness Festival website.</p>
        </div>
      </div>
      
      <div class="row" id="sponsor-logos">
        <div class="col-md-2 col-md-offset-2 col-xs-6">
          <%= image_tag '360.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-2  col-xs-6">
          <%= image_tag 'burg.png', class: 'img-responsive' %>
        </div>
<!--         <div class="col-md-2  col-xs-6">
          <%#= image_tag 'smiths.png', class: 'img-responsive' %>
        </div> -->
        <div class="col-md-2  col-xs-6">
          
          <%= image_tag 'mtborah.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-2  col-xs-6">
          <%= image_tag 'lindys.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
</div>