<div id="footer">
  <div class="container">
    
      <div class="col-md-8 col-sm-6 col-xs-12">
        <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 text-center social">
        <a href="https://www.facebook.com/lacrosseomnium"><i class="fa fa-facebook-square fa-3x"></i></a>
        <!-- <a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x"></i></a> -->
        <a href="http://youtu.be/l_8wXmjNCg8"><i class="fa fa-youtube-square fa-3x"></i></a>
      </div>


  </div>
</div>


