
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {   
/*   body {
    border:4px solid green;
  }*/

  .social {
    padding-top:0;
  }
  .navbar-brand div img {
    margin-top: -13px;
    padding-bottom:14px;
  }
  .navbar ul {
     margin-top:10px;
  }
  .navbar ul > li > a {
    padding:14px;
  }
  #logo img {
    margin:0px auto 0 auto;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
/*  body {
    border:4px solid red;
  }*/
  .social {
    padding-bottom:40px;
  }

  .navbar ul {
     margin-top:20px;
  }

  #logo img {
    padding-top:0;
    margin:0px auto 20px auto;
  }
  #top h1 {
    font-size:35px;
    line-height:80px;
  }

  #jersey h2 {
    font-size:32px;
  }

  #top-l2 h1 {
       font-size:35px;
    line-height:110px;

  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/*   body {
    border:4px solid blue;
  }*/

  .navbar ul {
     margin-top:40px;
  }

    #jersey h2 {
    font-size:40px;
  }

  #jersey img {
    margin-top:-20px;
  }


}